* {
	padding: 0;
	/*margin: 20px 20px;*/
}

canvas {
	background-color: #EEEEEE;
	display: inline-block;
	position: relative;
	margin:20px 20px;
}

.history {
	margin-top: 20px;
	position: absolute;
	display: inline-block;
} 